In [1]:
import pandas as pd
from sql import get_data

In [3]:
# read test data from sql
df = get_data('SELECT * from test_data')
df.head()

,keyword,google_ads_search_volume,google_ads_cpc_in_$,google_ads_competition,bing_ads_search_volume,bing_ads_cpc_in_$,bing_ads_competition
0,bildungsgutschein data science,10,0.01,High,0.0,0.05,Low
1,bootcamp data,10,11.20,Low,10.0,0.05,High
2,bootcamp data scientist,4400,23.91,Low,0.0,0.05,Low
3,bootcamp web developer,720,20.86,Medium,0.0,0.05,Low
4,coding bootcamp data science,20,25.44,Medium,170.0,0.05,Low