In [1]:
import pandas as pd
from google_api import get_data
from keywords_to_sql import to_sql

In [2]:
# define the keywords you want to search for
keyword_text = ["versicherung", "haftpflichtversicherung", "vollkasko"]

In [3]:
# get google api data for your keywords
df = get_data(keyword_text)
# write data to sql
to_sql(df)

In [6]:
df.head()

,keyword,avg_monthly_searches,competition,platform,suggested_bid
0,versicherung,74000,MEDIUM,google,310.35595
1,haftpflichtversicherung,90500,HIGH,google,864.80855
2,vollkasko,8100,MEDIUM,google,119.02475
3,rechtsschutzversicherung,110000,HIGH,google,629.11720
4,kfz versicherung,165000,HIGH,google,771.68715

In [5]:
# get data from google api and write to sql in one line
to_sql(get_data(keyword_text))

The keywords were imported successfully.